.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: column;

  border-bottom: 7px solid gray;
}

.cell {
  width: 40px;
  height: 40px;
}

.button {
  background-color: black;
  color: white;
  padding: 15px 40px;
  border-radius: 10px;
}
.button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.boardRow {
  display: flex;
  background-color: black;
  border-right: 7px solid gray;
  border-left: 7px solid gray;
}
